# --------- Frontend Environment Variables (IDX Admin) ----------

# Base URL for backend API
NEXT_PUBLIC_API_BASE_URL=https://demorealestate2.webnapps.net/api/

# Realty Pro agent ID
NEXT_PUBLIC_REALTY_PRO_AGENT_ID=